@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    ;
}

.container {
    width: 100%;
}


.landing {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(imagenes/landfoto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: left;

}

.land-titulo {
    color: aliceblue;
    font-weight: bolder;
    font-size: 60px;
    width: 60%;
    line-height: 100%;
    padding-left: 10%;
    padding-top: 10%;

}

.land-subt {
    font-size: large;
    color: whitesmoke;
    width: 60%;
    padding-left: 10%;
    padding-top: 2%;

}

.land-btn-div {
    padding-left: 10%;
    padding-top: 2%;


}

.land-btn {
    color: white;
    background-color: #1fbf92;
    border: none;
    border-radius: 30px;
    height: 45px;
    width: 200px;
    font-weight: bold;

}

.insc-btn {
    border-radius: 30px !important;
}

.about {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 10%;
    height: 100vh;
}

.card {
    width: 80%;
    padding: 2%;
    border-color: white !important;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;

}

.card-titulo {
    font-weight: 800;
    font-size: 20px;
}

.card-title:hover {
    color: #1fbf92;
    text-decoration: underline;
    cursor:pointer;


}

.card-desc {
    font-size: 15px;
}

.card-icon {
    width:30%;
}

.card-deck {
    display:flex;
    justify-content: space-between;
}

.card-title, .card-text {
    text-align: left;
}

.card-body {
    background-color: #f2f2f2 ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
}

h2{
    padding-left: 5%;
    font-weight: 800;
}

.btn {
    color:white !important;
    background-color: #1fbf92 !important;
    font-weight: 600!important;
}

.btn:hover{
    background-color: #89d9c2  !important;}
    
.cursos {
    display: grid;
    grid-template-columns: 1% 98% 1%;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}



.resenias {
    height: 80vh;
    display: grid;
    grid-template-columns: 1% 98% 1%;
    align-items: center;
    justify-content: center;
    padding-left: 2%;
    padding-right: 2%;


}
 .your-class {
    display: flex;
    justify-content: center;
    align-items: center;
  
 }
.coment {
    width:100%;
    text-align: center;
    padding: 1%;
 
}

.slick-initialized .slick-slide {
    display: flex !important;
    flex-direction: column !important;
}
.res-titulo{
    font-weight: 500;
    font-size: 25px;
}

.res-subt{
    font-size: 20px; 
}

.res-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1% 0 1% 0;
}

.pfp {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}


.arrow-prev:hover, .arrow-next:hover,.fa-chevron-left:hover,.fa-chevron-right:hover{
  color: #1fbf92;
  cursor: pointer;
}

.navbar {
    background-color: #042159 ;
    color:white;
}

.last{
   border-left: 100px;
}


  /* NAVBAR */
  .custom-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #042159;
    padding: 20px 20px; /* Ajuste aquí el padding para cambiar la altura */
}

.custom-navbar .custom-title {
    color: #fff;
    font-size: 24px;
    display: flex; /* Para alinear el ícono correctamente */
    align-items: center; /* Alinea verticalmente el texto e ícono */
}

.custom-navbar .icon-container {
    margin-left: 10px; /* Espacio entre el título y el ícono */
}

.custom-navbar, .icono {
    height: 100px; /* Ajusta el tamaño del ícono según sea necesario */
}

.custom-menu-icon {
    display: none;
}

.custom-navbar .custom-links {
    display: flex;
    gap: 20px;
}

.custom-navbar .custom-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

.custom-navbar .custom-links a:hover {
    text-decoration: underline;
}

.dropdown {
    position: relative;
}

.dropdown .arrow-down {
    margin-left: 5px;
    color: #fff;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #042159;
    min-width: 160px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #042159;
}

.icono {
    width: 80px;
    height:80px;
}

.navtitulo {
    color:#fff;
    font-size: 30px;
    font-weight: 700;

}

.navcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;

    
}

.footerimg{
    width: 50px;
    padding-left: 10%;
}

footer {
    width: 90vw !important;
}

@media (max-width: 768px) {
    .custom-navbar .custom-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .custom-navbar .custom-links a {
        margin: 10px 0;
    }

    .custom-navbar .custom-menu-icon {
        display: block;
    }

    .custom-navbar .custom-links.show {
        display: flex;
    }
}
