@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    ;
}

.container {
    width: 100%;
}


.landing {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(imagenes/landfoto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: left;

}

.land-titulo {
    color: aliceblue;
    font-weight: bolder;
    font-size: 60px;
    width: 60%;
    line-height: 100%;
    padding-left: 10%;
    padding-top: 10%;

}

.land-subt {
    font-size: large;
    color: whitesmoke;
    width: 60%;
    padding-left: 10%;
    padding-top: 2%;

}

.land-btn-div {
    padding-left: 10%;
    padding-top: 2%;


}

.land-btn {
    color: white;
    background-color: #1fbf92;
    border: none;
    border-radius: 30px;
    height: 45px;
    width: 200px;
    font-weight: bold;

}



.about {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 10%;
    height: 80vh;
}

.card {
    width: 80%;
    padding: 2%;
    border-color: white !important;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5%;
    border: none !important;
}

.card-titulo {
    font-weight: 800;
    font-size: 20px;
}

.card-title:hover {
    color: #1fbf92;
    text-decoration: underline;
    cursor: pointer;


}

.card-desc {
    font-size: 15px;
}

.card-icon {
    width: 30%;
}

.card-deck {
    display: flex;
    justify-content: space-between;
}

.card-title,
.card-text {
    text-align: left;
}

.card-body {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
}

h2 {
    padding-left: 5%;
    font-weight: 800;
}

.btn {
    color: white !important;
    background-color: #1fbf92 !important;
    font-weight: 600 !important;
}

.btn:hover {
    background-color: #89d9c2 !important;
}

.cursos {
    display: grid;
    grid-template-columns: 1% 98% 1%;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}

.destacadosdos {
    display: none;
}

.resenias {
    height: 80vh;
    display: grid;
    grid-template-columns: 1% 98% 1%;
    align-items: center;
    justify-content: center;
    padding-left: 2%;
    padding-right: 2%;


}

.your-class {
    display: flex;
    justify-content: center;
    align-items: center;

}

.coment {
    width: 100%;
    text-align: center;
    padding: 1%;

}

.slick-initialized .slick-slide {
    display: flex !important;
    flex-direction: column !important;
}

.res-titulo {
    font-weight: 500;
    font-size: 25px;
}

.res-subt {
    font-size: 20px;
}

.res-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1% 0 1% 0;
}

.pfp {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}


.arrow-prev:hover,
.arrow-next:hover,
.fa-chevron-left:hover,
.fa-chevron-right:hover {
    color: #1fbf92;
    cursor: pointer;
}

.last {
    border-left: 100px;
}


/* NAVBAR */

.navbar {
    background-color: #042159;
    color: white;
}

.custom-navbar-height {
    min-height: 100px;
    /* Puedes ajustar este valor según tus necesidades */
}

.custom-navbar-height .navbar-brand,
.custom-navbar-height .navbar-nav .nav-link,
.custom-navbar-height .navbar-toggler {
    height: 100%;
    display: flex;
    align-items: center;
}

.custom-navbar .navbar-brand {
    font-size: 24px;
    /* Tamaño de la fuente personalizado */
    font-weight: bold;
    /* Peso de la fuente personalizado */
}

.custom-navbar {
    min-height: 100px;
    /* Puedes ajustar este valor según tus necesidades */
}

.custom-navbar .signup {
    margin-right: 20px;
    /* Ajusta este valor según el espacio que desees */
}

.dropdown-menu {
    background-color: #042159 !important;
    --bs-dropdown-link-hover-bg: #ffffff1e !important;
}


/* ---------------NAVBAR--------- */



@media (max-width: 767px) {
    /* Agrega tus estilos específicos para móviles aquí */


    .landing {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)), url(imagenes/landfoto.jpg);

        background-size: cover;
        background-position: 60% ;
        height: fit-content;
        padding-bottom: 10%;
    }

    .land-titulo { 
        font-size: 40px;
    }

    .about {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 10%;
        height: fit-content;
        gap: 5%;
    }



    .destacados {
        display: none;
    }

    .destacadosdos {
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-areas:
            "titulo titulo titulo"
            "flecha caja flechader";
        padding: 4%;
    }

    .grid2 {
        grid-area: flecha;
    }

    .grid3 {
        grid-area: flechader;
    }

    .cardres {
        grid-area: caja;
        width: fit-content;
    }

    .h3titulo {
        grid-area: titulo;
    }

    .resenias{
        padding:4%;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {

    .landing {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)), url(imagenes/landfoto.jpg);
        background-size: cover;
        height: fit-content;
        padding-bottom: 10%;
    }

    .about {
        height: fit-content;
        padding: 5%;
        justify-content: space-between;
    }

    .card {
        display: flex;
        justify-content: space-between;
    }


}